# data
/src/ecoaprender.app.data/bin/
/src/ecoaprender.app.data/obj/

# di
/src/ecoaprender.app.di/bin/
/src/ecoaprender.app.di/obj/

# domain
/src/ecoaprender.app.domain/bin/
/src/ecoaprender.app.domain/obj/

# webapi
/src/ecoaprender.app.webapi/bin/
/src/ecoaprender.app.webapi/obj/